volumes:
  reth0:
  reth1:
  reth2:
  reth3:

services:
  reth0:
    network_mode: host
    image: ghcr.io/paradigmxyz/reth:v1.9.2
    container_name: reth0
    volumes:
      - reth0:/data
      - ./assets:/root/assets/
    environment:
      PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    command:
      - "node"
      - "-vvvvv"
      - "-d"
      - "--datadir=/data/reth/execution-data"
      - "--chain=/root/assets/genesis.json"
      - "--http"
      - "--http.port=8545"
      - "--http.addr=0.0.0.0"
      - "--http.corsdomain=*"
      - "--http.api=admin,net,eth,web3,debug,txpool,trace,ots"
      - "--ws"
      - "--ws.port=8546"
      - "--ws.addr=0.0.0.0"
      - "--authrpc.addr=0.0.0.0"
      - "--authrpc.port=8551"
      - "--authrpc.jwtsecret=/root/assets/jwtsecret"
      - "--metrics=127.0.0.1:9000"
      - "--discovery.port=30303"
      - "--port=30303"
      - "--nat=extip:127.0.0.1"
      # - "--builder.gaslimit=3600000000" # default * 100
      # - "--builder.interval=10ms"
      # - "--builder.deadline=1" # The deadline in seconds for when the payload builder job should resolve
      # - "--builder.max-tasks=10" # default=3
      # - "--txpool.gas-limit=300000000" # default * 10
      # - "--blobpool.pricebump=1"
      # - "--txpool.pending-max-count=50000" # default=10000
      # - "--txpool.queued-max-count=50000" # default=10000
  reth1:
    network_mode: host
    image: ghcr.io/paradigmxyz/reth:v1.9.2
    container_name: reth1
    volumes:
      - reth1:/data
      - ./assets:/root/assets/
    environment:
      PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    command:
      - "node"
      - "-vvvvv"
      - "-d"
      - "--datadir=/data/reth/execution-data"
      - "--chain=/root/assets/genesis.json"
      - "--http"
      - "--http.port=18545"
      - "--http.addr=0.0.0.0"
      - "--http.corsdomain=*"
      - "--http.api=admin,net,eth,web3,debug,txpool,trace,ots"
      - "--ws"
      - "--ws.port=18546"
      - "--ws.addr=0.0.0.0"
      - "--authrpc.addr=0.0.0.0"
      - "--authrpc.port=18551"
      - "--authrpc.jwtsecret=/root/assets/jwtsecret"
      - "--metrics=127.0.0.1:9001"
      - "--discovery.port=40303"
      - "--port=40303"
      - "--nat=extip:127.0.0.1"
      # - "--builder.gaslimit=3600000000" # default * 100
      # - "--builder.interval=10ms"
      # - "--builder.deadline=1" # The deadline in seconds for when the payload builder job should resolve
      # - "--builder.max-tasks=10" # default=3
      # - "--txpool.gas-limit=300000000" # default * 10
      # - "--blobpool.pricebump=1"
      # - "--txpool.pending-max-count=50000" # default=10000
      # - "--txpool.queued-max-count=50000" # default=10000
  reth2:
    network_mode: host
    image: ghcr.io/paradigmxyz/reth:v1.9.2
    container_name: reth2
    volumes:
      - reth2:/data
      - ./assets:/root/assets/
    environment:
      PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    command:
      - "node"
      - "-vvvvv"
      - "-d"
      - "--datadir=/data/reth/execution-data"
      - "--chain=/root/assets/genesis.json"
      - "--http"
      - "--http.port=28545"
      - "--http.addr=0.0.0.0"
      - "--http.corsdomain=*"
      - "--http.api=admin,net,eth,web3,debug,txpool,trace,ots"
      - "--ws"
      - "--ws.port=28546"
      - "--ws.addr=0.0.0.0"
      - "--authrpc.addr=0.0.0.0"
      - "--authrpc.port=28551"
      - "--authrpc.jwtsecret=/root/assets/jwtsecret"
      - "--metrics=127.0.0.1:9002"
      - "--discovery.port=50303"
      - "--port=50303"
      - "--nat=extip:127.0.0.1"
      # - "--builder.gaslimit=3600000000" # default * 100
      # - "--builder.interval=10ms"
      # - "--builder.deadline=1" # The deadline in seconds for when the payload builder job should resolve
      # - "--builder.max-tasks=10" # default=3
      # - "--txpool.gas-limit=300000000" # default * 10
      # - "--blobpool.pricebump=1"
      # - "--txpool.pending-max-count=50000" # default=10000
      # - "--txpool.queued-max-count=50000" # default=10000
  reth3:
    network_mode: host
    image: ghcr.io/paradigmxyz/reth:v1.9.2
    container_name: reth3
    volumes:
      - reth3:/data
      - ./assets:/root/assets/
    environment:
      PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    command:
      - "node"
      - "-vvvvv"
      - "-d"
      - "--datadir=/data/reth/execution-data"
      - "--chain=/root/assets/genesis.json"
      - "--http"
      - "--http.port=38545"
      - "--http.addr=0.0.0.0"
      - "--http.corsdomain=*"
      - "--http.api=admin,net,eth,web3,debug,txpool,trace,ots"
      - "--ws"
      - "--ws.port=38546"
      - "--ws.addr=0.0.0.0"
      - "--authrpc.addr=0.0.0.0"
      - "--authrpc.port=38551"
      - "--authrpc.jwtsecret=/root/assets/jwtsecret"
      - "--metrics=127.0.0.1:9003"
      - "--discovery.port=60303"
      - "--port=60303"
      - "--nat=extip:127.0.0.1"
      # - "--builder.gaslimit=3600000000" # default * 100
      # - "--builder.interval=10ms"
      # - "--builder.deadline=1" # The deadline in seconds for when the payload builder job should resolve
      # - "--builder.max-tasks=10" # default=3
      # - "--txpool.gas-limit=300000000" # default * 10
      # - "--blobpool.pricebump=1"
      # - "--txpool.pending-max-count=50000" # default=10000
      # - "--txpool.queued-max-count=50000" # default=10000
  prometheus:
    network_mode: host
    build:
      dockerfile: Dockerfile.prometheus
    user: "65534"
  grafana:
    network_mode: host
    build:
      dockerfile: Dockerfile.grafana
    user: "501"
    environment:
      GF_LOG_LEVEL: info
      GF_ANALYTICS_ENABLED: false
      GF_ANALYTICS_REPORTING_ENABLED: false
      GF_ANALYTICS_CHECK_FOR_PLUGIN_UPDATES: false
      GF_ANALYTICS_CHECK_FOR_UPDATES: false
      GF_ANALYTICS_FEEDBACK_LINKS_ENABLED: false
      GF_SECURITY_DISABLE_GRAVATAR: true
      GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH: /etc/grafana/provisioning/dashboards-data/default.json
      GF_USERS_DEFAULT_THEME: system
      GF_USERS_EDITORS_CAN_ADMIN: true
      GF_AUTH_ANONYMOUS_ENABLED: true
      GF_AUTH_ANONYMOUS_ORG_ROLE: Editor
      GF_AUTH_BASIC_ENABLED: false
      GF_NEWS_NEWS_FEED_ENABLED: false
  otterscan:
    image: otterscan/otterscan:develop
    depends_on:
      - reth0
    network_mode: host # frontend is at http://127.0.0.1:80
    environment:
      ERIGON_URL: "http://127.0.0.1:8545"
