volumes:
  reth0:
  reth1:
  reth2:

services:
  reth0:
    network_mode: host
    image: ghcr.io/paradigmxyz/reth:v1.9.2
    container_name: reth0
    volumes:
      - reth0:/data
      - ./assets:/root/assets/
    environment:
      PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    command:
      - "node"
      - "-vvvvv"
      - "-d"
      - "--datadir=/data/reth/execution-data"
      - "--chain=/root/assets/genesis.json"
      - "--http"
      - "--http.addr=0.0.0.0"
      - "--http.corsdomain=*"
      - "--http.api=admin,net,eth,web3,debug,txpool,trace,ots"
      - "--authrpc.addr=0.0.0.0"
      - "--authrpc.jwtsecret=/root/assets/jwtsecret"
      - "--nat=extip:127.0.0.1"
      - "--http.port=9540"
      - "--discovery.port=10303"
      - "--port=10303"
      - "--authrpc.port=18551"
      - "--metrics=9000"
  reth1:
    network_mode: host
    image: ghcr.io/paradigmxyz/reth:v1.9.2
    container_name: reth1
    volumes:
      - reth1:/data
      - ./assets:/root/assets/
    environment:
      PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    command:
      - "node"
      - "-vvvvv"
      - "-d"
      - "--datadir=/data/reth/execution-data"
      - "--chain=/root/assets/genesis.json"
      - "--http"
      - "--http.addr=0.0.0.0"
      - "--http.corsdomain=*"
      - "--http.api=admin,net,eth,web3,debug,txpool,trace,ots"
      - "--authrpc.addr=0.0.0.0"
      - "--authrpc.jwtsecret=/root/assets/jwtsecret"
      - "--nat=extip:127.0.0.1"
      - "--http.port=9541"
      - "--discovery.port=20303"
      - "--port=20303"
      - "--authrpc.port=28551"
      - "--metrics=9001"
  reth2:
    network_mode: host
    image: ghcr.io/paradigmxyz/reth:v1.9.2
    container_name: reth2
    volumes:
      - reth2:/data
      - ./assets:/root/assets/
    environment:
      PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    command:
      - "node"
      - "-vvvvv"
      - "-d"
      - "--datadir=/data/reth/execution-data"
      - "--chain=/root/assets/genesis.json"
      - "--http"
      - "--http.addr=0.0.0.0"
      - "--http.corsdomain=*"
      - "--http.api=admin,net,eth,web3,debug,txpool,trace,ots"
      - "--authrpc.addr=0.0.0.0"
      - "--authrpc.jwtsecret=/root/assets/jwtsecret"
      - "--nat=extip:127.0.0.1"
      - "--http.port=9542"
      - "--discovery.port=30303"
      - "--port=30303"
      - "--authrpc.port=38551"
      - "--metrics=9002"
  prometheus:
    network_mode: host
    build:
      dockerfile: Dockerfile.prometheus
    user: "65534"
  grafana:
    network_mode: host
    build:
      dockerfile: Dockerfile.grafana
    user: "501"
    environment:
      GF_LOG_LEVEL: info
      GF_ANALYTICS_ENABLED: false
      GF_ANALYTICS_REPORTING_ENABLED: false
      GF_ANALYTICS_CHECK_FOR_PLUGIN_UPDATES: false
      GF_ANALYTICS_CHECK_FOR_UPDATES: false
      GF_ANALYTICS_FEEDBACK_LINKS_ENABLED: false
      GF_SECURITY_DISABLE_GRAVATAR: true
      GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH: /etc/grafana/provisioning/dashboards-data/default.json
      GF_USERS_DEFAULT_THEME: system
      GF_USERS_EDITORS_CAN_ADMIN: true
      GF_AUTH_ANONYMOUS_ENABLED: true
      GF_AUTH_ANONYMOUS_ORG_ROLE: Editor
      GF_AUTH_BASIC_ENABLED: false
      GF_NEWS_NEWS_FEED_ENABLED: false
  otterscan:
    image: otterscan/otterscan:develop
    depends_on:
      - reth0
    network_mode: host
    environment:
      ERIGON_URL: "http://127.0.0.1:8545"
