name: Emerald

on:
  merge_group:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

# If new code is pushed to a PR branch, then cancel in progress workflows for that PR.
# Ensures that we don't waste CI time, and returns results quicker.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  CARGO_PROFILE_DEV_DEBUG: 1
  CARGO_PROFILE_RELEASE_DEBUG: 1
  RUST_BACKTRACE: short
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10

jobs:
  emerald-block-production:
    name: Block Production
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Install cargo-nextest
        uses: taiki-e/install-action@cargo-nextest
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      - name: Run Forge build
        run: forge build
      - name: Run emerald
        run: |
          NODE_COUNT=3 make start

      - name: Upload test logs
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: emerald-test-logs
          path: nodes/**/logs/*.log
